@charset "utf-8";

$pos: 9999;

$mainColor: #F5A9A9;
/*ヘッダーまわりはサイトに合わせて調整してください*/
header {
    padding: 10px;
    margin: 0;
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    border-bottom: 1px solid black;
    a {
        text-decoration: none;
        color: #00F034;
        &:hover {
            text-decoration: none;
            color: #00E431;
        }
    }
}